<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5" style="margin-top: 80px!important;">Our amazing team</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">👽 The Hacking Project - Nice, Côte d'Azur Team 👽</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/22789036_10214671903490804_3748287482234095048_n.jpg?_nc_cat=109&_nc_ht=scontent-cdg2-1.xx&oh=747445eafabd991d52a47a34ca62e4c3&oe=5C4D0685"
        class="rounded-circle z-depth-1" style="width: 100px;" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Arthur Mansuy</h5>
      <p class="text-uppercase blue-text"><strong>Full Stack Developer</strong></p>
      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed quia non numquam modi tempora eius.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fa fa-twitter blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/41439663_10212337043929961_7662520839190872064_n.jpg?_nc_cat=102&_nc_ht=scontent-cdg2-1.xx&oh=4b3a3d54d812b5dfa023f05be5af0e03&oe=5C411DD1"
        class="rounded-circle z-depth-1" style="width: 100px;" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Thomas Charvet</h5>
      <p class="text-uppercase blue-text"><strong>Full Stack Developer</strong></p>
      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque rem laudantium totam aperiam.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/39610972_10213094778272610_1823884692907098112_n.jpg?_nc_cat=104&_nc_ht=scontent-cdg2-1.xx&oh=3b8485fc2d11817103860754153719cd&oe=5C44A299"
        class="rounded-circle z-depth-1" style="width: 100px;" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Ysaline Macé</h5>
      <p class="text-uppercase blue-text"><strong>Full Stack Developer - Journalist</strong></p>
      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim est fugiat nulla id eu laborum.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <!-- Dribbble -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fa fa-dribbble blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/23379925_10155246108677989_1199797742121463697_n.jpg?_nc_cat=102&_nc_ht=scontent-cdg2-1.xx&oh=05a61cf00a9e843611e4ea83dca43bc4&oe=5C7BECCF"
        class="rounded-circle z-depth-1" style="width: 100px;" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Nathaniel Debache</h5>
      <p class="text-uppercase blue-text"><strong>Backend developer - Head of Finance</strong></p>
      <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam officia voluptates perferendis voluptatibus aut.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <div class="col-lg-3 col-md-6 center-block" style="margin: auto;">
      <div class="avatar mx-auto">
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/31949595_10212247818535584_4200772942302281728_n.jpg?_nc_cat=101&_nc_ht=scontent-cdg2-1.xx&oh=95e2de7e6f3fa006f362d3edba2b81db&oe=5C4456D9"
        class="rounded-circle z-depth-1" style="width: 100px;" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Nikita Vasilev</h5>
      <p class="text-uppercase blue-text"><strong>Full Stack Developer</strong></p>
      <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam officia voluptates perferendis voluptatibus aut.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->