<h1 class="text-center margin-header-bis">Contact us:</h1>
<p></p>
<p class="text-center">Contact us via this form, we assure you an answer within 24-48 hours</p>
<div class="container">
  <form action="/contact" method="post">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="firs_tname" placeholder="Your name..">
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" placeholder="Your last name..">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">
    <label for="comment">Comment</label>
    <textarea id="comment" name="comment" placeholder="Write something.." style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>